* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 300px;
    background-color: rgb(107, 152, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.header h1 {
    color: white;
}

.header img {
    border-radius: 10px;
    margin: 20px;
}

main {
    margin: 25px;
}

footer {
    margin-top: 50px;
    background-color:  rgb(107, 152, 41);
    padding: 15px;
}

.code {
    background-color: rgb(196, 211, 206);
    margin-top: 15px;
}